<div class="row">
  <div class="col s12 l6 offset-l3">
    <div class="card blue lighten-5">
      <div class="card-content">
        <h3 class="center">Registrar Información</h3>
        <form>
          <div class="row">
            <div class="input-field col s4">
              <input id="Tipodocumento" type="text" class="validate">
              <label for="Tipodocumento">Tipo de Documento</label>
            </div>
            <div class="input-field col s4">
              <input id="Numero" type="text" class="validate">
              <label for="Numero">Numero</label>
            </div>
            <div class="input-field col s4">
              <input id="Nombres" type="text" class="validate">
              <label for="Nombres">Nombres</label>
            </div>
            <div class="input-field col s4">
              <input id="Apellidos" type="text" class="validate">
              <label for="last_name">Apellidos</label>
            </div>
          
          
            <div class="input-field col s4">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s4">
              <input id="Direccion" type="text" class="validate">
              <label for="Direccion">Dirección</label>
            </div>
            <div class="input-field col s4">
              <input id="Ciudad" type="text" class="validate">
              <label for="Ciudad">Ciudad</label>
            </div>
            <div class="input-field col s4">
              <input id="Pais" type="text" class="validate">
              <label for="Pais">Pais</label>
            </div>
            
              <div class="input-field col s4">
                <input id="Celular" type="tel" class="validate">
                <label for="Celular">Celular</label>
              </div>
              <div class="input-field col s4">
                <input id="FechaNacimiento" type="date" class="validate">
                <label for="FechaNacimiento">Fecha de Nacimiento</label>
              </div>
            </div>
          <div class="row">
            <div class="col s4 offset-s2">
              <button class="btn waves-effect waves-light blue btn-large" type="submit" name="action">Registrar Datos
                <i class="material-icons left">send</i>
              </button>
            </div>
            <div class="col s4 offset-s0">
              <button class="btn waves-effect waves-light red btn-large" type="reset" name="action">Borrar Datos<i
                  class="material-icons left">clear</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>